<h2 class="heading02">ラッピング方法の選択</h2>
<p>ご希望の方はラッピングの種類を選択してください。</p>
<div class="column">
    <div class="form-inline form-group">
        <label>ラッピング</label>
        {{ form_widget(form.gift_wrapping) }}
        {{ form_errors(form.gift_wrapping) }}
    </div>
</div>
